{
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module",
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
   }
  },
  "plugins": ["react"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "no-console": "off",
    "indent": ["error", 4],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "no-unused-vars": "warn",
    "react/no-unescaped-entities": "warn",
    "react/no-unknown-property": "warn",
    "react/jsx-key": "warn",
    "no-empty": "warn",
    "react/prop-types": "warn",
    "no-useless-escape": "warn",
    "arrow-body-style": "off"
  }
}